*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
}

h3 {
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  section {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,
li,
a,
img {
  display: block;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .header {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
  }
}

.container__header {
  position: relative;
  height: 80px;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo__text {
  color: #212121;
  font-family: Raleway, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__text-color {
  color: #2196f3;
}

.header__button {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-color: blue;
  background-image: url(/image/);
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__button .header-modal {
  position: relative;
}

.header__secondary-color {
  color: #212121;
}

.container__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link {
  position: relative;
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link:hover .button-icon,
.link:focus .button-icon {
  fill: #2196f3;
}

.link-current {
  color: #2196f3;
}

.link-current::after {
  position: absolute;
  top: calc(100% + 29px);
  left: 0;
  display: inline-block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link {
  margin: 0;
  border: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts--header {
  margin-left: auto;
}

.link-contact {
  color: #757575;
}

.contacts__link-phone {
  margin-left: 50px;
}

.button-icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__overlay {
  padding: 0;
  margin: 0;
  display: block;
  background-color: rgba(47, 48, 58, 0.4);
  color: #ffffff;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/index/hero-dg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/index/hero-dg.jpg);
  max-width: 1600px;
  max-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-height: 600px;
  }
}

.hero__container {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
  }
}

.button {
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: #2196f3;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  /* padding: 8px; */
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  /* z-index: 999; */
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  color: #212121;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover {
  color: #2196f3;
}

.modal__form {
  width: 528px;
  height: 581px;
  padding: 40px;
}

.form__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
  margin-bottom: 20px;
}

.form__group {
  padding-top: 12px;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
}

.form__input {
  margin: 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 45px;
}

.form__input:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  position: absolute;
  top: -50%;
  left: 0;
}

.form__label,
.form__label-comment,
.form__label-policy {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.form__label-comment {
  position: absolute;
  top: -20px;
  left: 0;
}

.form__icon {
  position: absolute;
  top: 25%;
  left: 14px;
  content: '';
  width: 15px;
  height: 15px;
  fill: #212121;
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus,
.form__field:focus-within > .form__comment,
.form__field:focus-within > .form__input {
  border-color: #2196f3;
  outline: none;
}

.form__comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__field-policy {
  position: relative;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form__label-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-left: 25px;
}

.checkbox__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 8px;
}

.icon-check {
  position: absolute;
  top: 5px;
  left: 10px;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  margin-right: 10px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
}

.checkbox:checked + .icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
  background-origin: border-box;
  background-image: url(../image/icons/icon-check.svg);
}

.button-submit {
  position: relative;
  padding: 10px 55px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  position: relative;
}

.features__item {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features__column {
  margin: 0 auto;
}

.features__column:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features__column:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__column {
    width: 270px;
    -ms-flex-preferred-size: calc(100%/2 - 30px);
        flex-basis: calc(100%/2 - 30px);
  }
}

.features__icons {
  text-align: center;
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__post-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  color: #757575;
  weight: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.business {
  display: none;
}

@media screen and (min-width: 1200px) {
  .business {
    max-width: 1200px;
    display: table;
    padding-top: 0;
  }
}

.business__image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business__image-list :not(:last-child) {
  margin-right: 30px;
}

.business__image-box {
  display: block;
  position: relative;
  overflow: hidden;
}

.business__text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  text-align: center;
  padding: 27px;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .team {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    max-width: 1200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .team-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-card__list .team-card__card:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team-card__list .team-card__card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card__card {
  border-bottom: 1px solid;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-card__card {
    max-width: 768px;
    -ms-flex-preferred-size: calc(100%/2 - 30px);
        flex-basis: calc(100%/2 - 30px);
  }
}

.team-card__wrapper {
  margin: auto;
  padding: 30px 0;
  background-color: #ffffff;
}

.team-card__wrapper.title-name {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card__wrapper.text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__social {
  margin-top: 16px;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  background-color: #ffffff;
}

.team__social-list .button-icons,
.team__social-list .button-icons {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-social {
  width: 44px;
  height: 44px;
  margin: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.button-social:hover, .button-social:focus {
  background-color: #2196f3;
  outline: none;
}

.button-social:hover .button-icons,
.button-social:focus .button-icons {
  fill: #ffffff;
}

.team__social-item .button-social,
.footer__social-item .button-social {
  text-align: center;
  padding: 12px;
  margin: 0 12px 0 0;
  border-radius: 50%;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

@media screen and (min-width: 1200px) {
  .client__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 0;
  }
}

.client__item {
  margin-bottom: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 30px;
  -ms-flex-preferred-size: calc(100%/2 - 30px);
      flex-basis: calc(100%/2 - 30px);
}

@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc(100%/3 - 30px);
        flex-basis: calc(100%/3 - 30px);
  }
}

.client__icon {
  display: block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon:hover .client__button-icons,
.client__icon:focus .client__button-icons {
  fill: #2196f3;
}

.client__icon:hover, .client__icon:focus {
  border: 1px solid #2196f3;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__button-icons {
  display: block;
  margin: 0 auto;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  color: #ffffff;
  background-color: #2f303a;
}

.footer__container {
  margin: 0 auto;
  padding: 60px 15px;
}

@media screen and (min-width: 480px) {
  .footer__container {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__container .footer__wrapper {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container .footer__wrapper {
    margin-bottom: 0;
  }
}

.footer__secondary-color {
  color: #ffffff;
}

.footer__contacts {
  color: #ffffff;
}

.link--invers {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__logo {
  width: 154px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    width: 100%;
  }
}

.adress--footer,
.contacts__item--footer {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.contacts--footer,
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .contacts--footer,
  .footer__contacts {
    max-width: 1200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__social {
  margin-left: 70px;
  margin-right: 90px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 165px;
    margin-right: 0;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 90px;
  }
}

.footer__form-label,
.footer__social-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
}

.footer__social-title {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__social-title {
    text-align: left;
  }
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-item .button-social {
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.footer__social-item:hover, .footer__social-item:focus {
  border-radius: 50%;
  background-color: #2196f3;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

.submit--footer {
  display: block;
  padding: 10px 30px;
  width: 200px;
  text-align: left;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin: 0 auto;
}

.submit--footer::before {
  position: absolute;
  top: 30%;
  right: 30px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../image/icons/icon-send.svg);
}

@media screen and (min-width: 1200px) {
  .submit--footer {
    margin-left: 12px;
  }
}

.footer__form-label {
  position: absolute;
  top: 0;
  left: 20%;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .footer__form-label {
    left: 0;
  }
}

.footer__form-input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: inherit;
  height: 50px;
  width: 358px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__form-input {
    margin-bottom: 0;
  }
}

.section__portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio .button {
  padding: 6px 22px;
}

.slider-buttons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
  margin-right: -8px;
}

@media screen and (min-width: 768px) {
  .slider-buttons {
    margin-bottom: 40px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .slider-buttons {
    margin-bottom: 50px;
  }
}

.buttons-box {
  display: block;
  margin-right: 8px;
  margin-bottom: 15px;
}

.buttons-box__button {
  display: block;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
}

.buttons-box__button:hover, .buttons-box__button:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invisible {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio-box {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    -ms-flex-preferred-size: calc(100%/2 - 30px);
        flex-basis: calc(100%/2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-box {
    max-width: 1600px;
    -ms-flex-preferred-size: calc(100%/3 - 30px);
        flex-basis: calc(100%/3 - 30px);
  }
}

.portfolio-box__card-list {
  border-bottom: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
  max-width: 354px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box__card-list:hover, .portfolio-box__card-list:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-box__card-list:hover .portfolio-box__card-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-box__card-list .portfolio-box__card-item {
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .portfolio-box__card-list {
    -ms-flex-preferred-size: calc(100%/2 - 30px);
        flex-basis: calc(100%/2 - 30px);
    max-width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-box__card-list {
    -ms-flex-preferred-size: calc(100%/3 - 30px);
        flex-basis: calc(100%/3 - 30px);
  }
}

.portfolio-box__card-heading {
  display: block;
}

.portfolio-box__overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-box__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-box__card-text {
  display: block;
  padding: 20px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-box__pagenamelink {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-box__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */