header {
  border-bottom: 1px solid #ececec;
}
.container__header {
  position: relative;
  height: 80px;
  padding: 0 15px;
  padding-top: 26px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    justify-content: space-evenly;
  }
}
.logo__text {
  color: $menu-color;
  font-family: $accent-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-right: 85px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__text-color {
  color: $accent-color;
}
.menu-open {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
  width: 40px;
  height: 40px;
}

.header__button {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 40px;
  height: 40px;
  background-color: blue;
  background-image: url(/image/);
  @media screen and (min-width: 768px) {
    display: none;
  }
  .header-modal {
    position: relative;
  }
}
.header__secondary-color {
  color: $menu-color;
}

.container__nav-link {
  display: flex;
  align-items: center;
  display: none;
  @media screen and (min-width: 768px) {
    display: table;
    //  margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
  }
}
.container__nav {
  display: flex;
  width: 294px;
  justify-content: space-between;
}
.link {
  position: relative;
  color: $menu-color;
  font-weight: 500;
  text-decoration: none;
  transition: color $time $cubic;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:hover .button-icon,
  &:focus .button-icon {
    fill: $accent-color;
  }
}
.link-current {
  box-sizing: border-box;
  color: $accent-color;
  &::after {
    position: absolute;
    top: calc(100% + 29px);
    left: 0;
    display: inline-block;
    content: '';
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.container__contacts {
  display: flex;
  align-items: center;
  flex-direction: row;
  display: none;
  &__link {
    margin: 0;
    border: 0;
    align-items: flex-end;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--header {
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    display: table;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.link-contact {
  color: $main-text-color;
}
.contacts__link-phone {
  margin-left: 0;
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.button-icon {
  margin-right: 10px;
  fill: $main-text-color;
  transition: fill $time $cubic;
}
